<% include ./partials/header.ejs %>

<div class="container">
    <div class="row">
        <h1 class="lead"><i class="fa-solid fa-file-csv"></i><%= name %></h1>
        <div id="table" class="table-responsive">
            <table id="employee" class="table table-striped table-hover table-bordered">
                <% let count = 0 %>
                <% const headings = employees[0] %>
                
                <thead>   
                    <% let temp = headings.split(',') %>

                
                <tr>
                    
                    <% for(let p of temp){%> 
                        <% count = count + 1; %>
                    <th><%= p %></th>
                        
                    <%}%>
                    
                </tr>
                </thead>
                <tbody>
                <% for(let employee of employees){ %>
                    <% let temp1 = employee.split(',') %>
                    <% if(temp1.length === count){ %>

                    
                    <% if(firstIndex){%>
                      
                    
                    <% firstIndex=false %>
                    <% }else{%> 
                    
                    <tr>
                        
                        <% for(let k of temp1){%> 
                        <td><%= k %></td>
                        <%}%>
                        <!-- <td>
                            <a href="/upload/employee/<%= employee._id %>/edit"><i class="glyphicon glyphicon-pencil"></i></a>
                        </td>
                        <td>
                            <form action="/upload/employee/<%= employee._id %>?_method=DELETE" method="POST" style="display:inline;">
                                <button class="btn btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
                            </form>
                        </td> -->

                    </tr>
                    
                    <%} %>
                <% } %>
                <% }; %>
                </tbody>
                <tfoot>
                    <tr>
                        <% for(let i of temp){%> 
                        <th><%= i %></th>
                            
                        <%}%>
                        
                    </tr>
                </tfoot>
                
            </table>
        </div>
    </div>
</div>

<script src="/js/search.js"></script>

<% include ./partials/footer.ejs %>